.text-primary {
  color:#e67e22!important;
}

.bg-primary {
  background:#e67e22!important;
  color:#fff;
}

.navbar-light .navbar-nav .nav-link {
  color:#fff!important;
}

.btn-primary {
  background:#e67e22;
  border:none;
}

.btn-primary:hover {
  background:#d35400;
}

.btn-primary:active {
  background:#e67e22!important;
}

